<style>
    .container {
        width: 800px;
        justify-content: center;
        align-items: center;
        justify-content: center;
        display: flex;
        flex-direction: column;
    }

</style>

<div class="container">
    <h3>Olá <strong>{{name}} {{surname}}</strong>! Tudo bem?</h3>

    <br />
    <strong>Recebemos seu cadastro, seja bem vindo ao nosso canal de suporte!</strong>
    <p>Aqui vamos te ajudar a soluciona qualquer problema ao usar nossas ferramentas</p>
    <br/>
    <p>Caso tenha alguma dúvida, problema ou sugestão entre em contato e estaremos prontos para lhe ajudar</p>
    <strong>sua opinião é muito importante para nós!</strong>
    <h3>Equipe |<strong>WA Solutions</strong></h3>
</div>